stages:
  - testcode
  - build
  - test
  - deploy

variables:
  IMAGE_NAME: "djg"
  IMAGE_TAG: "0.01"

testcode:
  stage: testcode
  script:
    - cd 01_IntroductionToDevOps
    - PATH=/home/gitlab-runner/.local/bin:$PATH
    - flake8 --exclude=.venv --ignore=E501 .

build:
  stage: build
  script:
    - docker system prune -f
    - ls -al
    - cd 01_IntroductionToDevOps
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - mkdir -p build
    - docker save $IMAGE_NAME:$IMAGE_TAG -o build/image.tar
  artifacts:
    paths:
      - build/
test:
  stage: test
  script:
      - cd 01_IntroductionToDevOps
      - docker system prune -f
      - docker-compose up -d
      - ss -ntpl
      - curl http://localhost:8000
      - docker-compose down

save:
  stage: deploy
  script:
    - docker tag djg:0.01 myregistry/myapp:latest


